.list-table-format {
    display: grid; /* Use grid layout for table format */
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr; /* Define column widths */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Set gap between grid items */
    padding: 12px 15px; /* Set padding */
    border: 1px solid #cacaca; /* Set border */
    font-size: 13px; /* Set font size */
}

.list-table-format .title {
    background-color: #f9f9f9; /* Background color for table headers */
}

.list-table-format img {
    width: 50px; /* Set width for images */
}

/* Media query for responsive design */
@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr; /* Adjust column widths for smaller screens */
        gap: 15px; /* Increase gap between grid items */
    }
    .list-table-format.title {
        display: none; /* Hide table headers on smaller screens */
    }
}
