/* Styling for the .footer class */
.footer {
    color: #d9d9d9; /* Text color */
    background: #323232; /* Background color */
    display: flex; /* Displays items in a flex container */
    flex-direction: column; /* Arranges items in a column */
    align-items: center; /* Centers items horizontally */
    gap: 30px; /* Sets gap between child elements */
    padding: 20px 8vw; /* Sets padding */
    padding-top: 80px; /* Sets top padding */
    margin-top: 100px; /* Sets top margin */
}

/* Styling for the .footer-content class */
.footer-content {
    width: 100%; /* Sets width to 100% */
    display: grid; /* Displays items in a grid container */
    grid-template-columns: 2fr 1fr 1fr; /* Sets grid columns */
    gap: 80px; /* Sets gap between grid items */
}

/* Styling for the .footer-content-left, .footer-content-right, .footer-content-center classes */
.footer-content-left, .footer-content-right, .footer-content-center {
    display: flex; /* Displays items in a flex container */
    flex-direction: column; /* Arranges items in a column */
    align-items: start; /* Aligns items to the start */
    gap: 20px; /* Sets gap between child elements */
}

/* Styling for list items within .footer-content-left, .footer-content-right, .footer-content-center */
.footer-content-left li, .footer-content-right li, .footer-content-center li {
    list-style: none; /* Removes list bullet */
    margin-bottom: 10px; /* Sets bottom margin */
    cursor: pointer; /* Changes cursor to pointer */
}

/* Styling for headings within .footer-content-right, .footer-content-center */
.footer-content-right h2, .footer-content-center h2 {
    color: white; /* Sets text color */
}

/* Styling for social media icons within .footer-social-icons */
.footer-social-icons img {
    width: 40px; /* Sets width */
    margin-right: 15px; /* Sets right margin */
    cursor: pointer; /* Changes cursor to pointer */
}

/* Styling for horizontal rule within .footer */
.footer hr {
    width: 100%; /* Sets width to 100% */
    height: 2px; /* Sets height */
    margin: 20px 0; /* Sets margin */
    border: none; /* Removes border */
    background: gray; /* Sets background color */
}

/* Media query for screens with a maximum width of 750px */
@media(max-width:750px) {
    .footer-content {
        display: flex; /* Displays items in a flex container */
        flex-direction: column; /* Arranges items in a column */
        gap: 35px; /* Sets gap between child elements */
    }
    .footer-copyright {
        text-align: center; /* Centers text */
    }
}
